{{ define "main" }}
{{ partial "header-home.html" }}

<section class="section features">
    <div class="container">
<div class="columns">
    <div class="column">
                    <div class="home-icon-wrapper"><i class="fas fa-map-marker fa-6x home-icon"></i></div>
                    <h2 class="subtitle" style="text-align:center">Hundreds of Locations</h2>
                    <p>Billboards in New York, New Jersey, Pennsylvania and more in high traffic areas like Atlantic City and Times Square.</p>               
    </div>
    <div class="column">            
            <div class="home-icon-wrapper"><i class="far fa-address-card fa-6x home-icon"></i></div>
                    <h2 class="subtitle" style="text-align:center">Digital Billboards</h2>
                    <p>Billboards in New York, New Jersey, Pennsylvania and more in high traffic areas like Atlantic City and Times Square.</p>
    </div>
    <div class="column">            
            <div class="home-icon-wrapper"><i class="fas fa-pencil-alt fa-6x home-icon"></i></div>
                    <h2 class="subtitle" style="text-align:center">Design Services</h2>
                    <p>Billboards in New York, New Jersey, Pennsylvania and more in high traffic areas like Atlantic City and Times Square.</p> 
    </div>
</div>
    </div>
</section>
<section class="section about">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure>
                    <img src="/img/rt 3 secaucus.jpg"/>
                </figure>
            </div>
            <div class="column">
                    <h2>About Pacific Outdoor Advertsing</h2>
                    <p>Pacific Outdoor Advertising is owned and operated by Joe Jacobs who has developed outdoor advertising throughout New Jersey, the New York market and in major cities such as Detroit, Los Angeles and Philadelphia.</p>
                    <p>Our achievements include the developement of the only four-sided billboard in the state on New Jersey on property located on the AC Expressway and the Tunnel connector.</p>                
            </div>
        </div>
    </div>
</section>
{{ end }}