/* ##### Typography #### */
h1,h2,h3,h4{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
 }
 h1 {
     font-size:2rem;
 }
 h2 {
     font-size:1.5rem;
     margin-bottom:1rem;
 }

 h3 {
     font-size:1rem;
 }
 p {
     margin-bottom:5px;
     font-family: Poppins, sans-serif;
 }

 .navbar-brand a, .navbar-menu a{
    font-family: Poppins, sans-serif;
 }

 /* #### General #### */
.container{
    max-width:1000px;
}

 /* ##### Navigation #### */
 .navbar, .navbar-menu{
    background-color:#000b25;
    color:#fff;
}

.navbar a, .navbar-menu a{
    color:#fff;
}

.navbar a:hover, .navbar-menu a:hover{
    background:#00133f;
    color:#fff;
    transition: background-color 0.3s ease;
}

/* ##### Home Page #### */
.hero-home{
background: linear-gradient(
    rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.55)
  ),
  url(/img/pexels-photo-185662.jpeg);
background-position:center;
color:#fff;
}
.hero-home h1, .hero-home h2, .hero-home .title, .hero-home .subtitle{
color:#fff;
text-shadow:2px 2px 4px #000000;
}
.features .column{
text-align:center;
}
.home-icon-wrapper {
    text-align: center;
    padding-bottom:25px;
}
.home-icon{
    color:#000b25;
}
.hero-page{
    background: linear-gradient(
        rgba(0, 33, 113, 0.8), 
        rgba(0, 33, 113, 0.8)
      ),
      url(/img/page-banner.jpg);
    background-position:0 -101px;
    color:#fff;
    }
.hero-page .title{
    color:#fff;
}

.about {
    background-color:#eceff1;
}

/* #### About #### */
.joe {
    max-height:800px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* #### Billboards #### */

.billboard:nth-child(odd) {
background:#eceff1;
}

.billboard img, .about img {
    border-radius: 3%;
}

/* #### Contact #### */
#contact, footer{
    background:#131313;
    color:#fff;
}

#contact h2, #contact label, footer a{
    background:#131313;
    color:#fff;
}
.contact-form{
    max-width:500px;
}

.button.is-link{
   background: #007250;
}

.button.is-link:hover{
    background: #328e72;
    transition: background-color 0.3s ease;
 }

 /* Alternates */
 .billboard-2 .column{
     padding:2.75rem;
 }

 .billboard-2 {
    background:#eceff1;
    }

.about-2 {
        background:url(/img/rt-3-secaucus.jpg);
        background-position:center;
        background-size: cover;
}
.about-2 .text{
background: rgba(0,0,0,0.8);
color:#fff;
padding: 1.75rem;
}

.about-body {
    max-width:700px;
    margin:0 auto;
}

.joe-2 {
    max-height:500px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin:0 auto;
    padding:25px;
}

.joe-container {
    text-align:center;
}

.joe-container hr{
    width: 140px;
    height: 2px;
    background: #007250;
    border-radius: 0;
    margin: 60px auto 60px auto;
}

@media (min-width: 992px){
.joe-container h2 {
    font-size: 54px;
    font-family: Old Standard TT, serif;
}
}

/*
.navbar-item, .navbar-link{
    margin:.5rem .75rem;
    padding:0;
}

.navbar-link a:hover::after {
    display:block;
    content: '';
    border-bottom: solid 1px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.navbar-menu a:hover::after {
    transform-origin:100% 50%;
}
*/