<footer id="contact" class="section contact-section" role="">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <h2 class="title">Contact Us</h2>
            </div>
            <div class="column is-one-third">
                <p>
                    <i class="fas fa-envelope" style="color:#fff;margin-right:25px;"></i>
                    <a class="mail" href="mailto:sales@badmail.poadvertising.com">sales@poadvertising.com</a>
                </p>
                
            </div>
            <div class="column is-one-third">
                <p>
                <i class="fas fa-phone" style="color:#fff;margin-right:25px;" data-fa-transform="rotate-90"></i>
                <a href="tel:609-653-0612"> 609-653-0612</a>
            </p>
            </div>
        </div>
        <a class="" href="{{ .Site.BaseURL }}" >
            &copy; {{ now.Format "2006" }} {{ .Site.Title }}
          </a>
    </div>
  </footer>
  