<nav class="navbar is-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ .Site.BaseURL }}" class="navbar-item">
        {{ .Site.Title }}
      </a>
      <div class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
      <div class="navbar-menu" id="navMenu">
        {{ if .Site.Menus.main }}
          <div class="navbar-end">
              <a class="navbar-item" href="/" title="home">
                  Home
                </a>
            {{ range .Site.Menus.main }}
              <a class="navbar-item" href="{{ .URL }}" title="{{ .Name }} page">
                {{ .Name }}
              </a>
            {{ end }}
            <a class="navbar-item" href="#contact" title="contact page">
                Contact
              </a>
          </div>
        {{ end }}
        <div class="navbar-end">
          <div class="navbar-item">
            <i class="fas fa-phone" style="color:#fff;margin-right:25px;" data-fa-transform="rotate-90"></i>
            <a class="navbar-item" href="tel:609-653-0612">609-653-0612</a>
          </div>
        </div>
      </div>
    </div>
    </nav>
  