<section class="section about">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure>
                        <img src="/img/rt-3-secaucus.jpg"/>
                    </figure>
                </div>
                <div class="column">
                        <h2>About Pacific Outdoor Advertsing</h2>
                        <p>Pacific Outdoor Advertising is owned and operated by Mr. Joseph Jacobs Esq. who has developed outdoor advertising throughout New Jersey, the New York market and in major cities such as Detroit, Los Angeles and Philadelphia.</p>
                        <br><p>Our Achievements include the development of the only four-sided billboard in the State of New Jersey on the Atlantic City Expressway and Tunnel Connector.
                        </p>
                        <a href="/about"class="button is-link" style="margin-top:25px">Read More</a>                
                </div>
            </div>
        </div>
    </section>