<section class="section features">
        <div class="container">
    <div class="columns">
        <div class="column">
                        <div class="home-icon-wrapper"><i class="fas fa-map-marker fa-6x" style="color:#007250"></i></div>
                        <h2 class="subtitle" style="text-align:center">Hundreds of Locations</h2>
                        <p>Pacific Outdoor has secured permits and developed billboards nationally including New York, New Jersey, Pennsylvania, Detroit, California, and Texas.                   </p>               
        </div>
        <div class="column">            
                <div class="home-icon-wrapper"><i class="far fa-address-card fa-6x" style="color:#720020"></i></div>
                        <h2 class="subtitle" style="text-align:center">Digital Billboards</h2>
                        <p>We specialize in developing double-faced single pole digital billboards in the most highly trafficked highways in the Nation.
                        </p>
        </div>
        <div class="column">            
                <div class="home-icon-wrapper"><i class="far fa-thumbs-up fa-6x" style="color:#725000"></i></div>
                        <h2 class="subtitle" style="text-align:center">Customer Service</h2>
                        <p>For 30+ years we have developed great relationships with our land owners. Client relations is our top priority.</p> 
        </div>
    </div>
        </div>
    </section>