<section class="section about">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure>
                        <img src="/img/rt-3-secaucus.jpg"/>
                    </figure>
                </div>
                <div class="column">
                        <h2>About Pacific Outdoor Advertsing</h2>
                        <p>Pacific Outdoor Advertising is owned and operated by Joe Jacobs who has developed outdoor advertising throughout New Jersey, the New York market and in major cities such as Detroit, Los Angeles and Philadelphia.</p>
                        <br><p>Our achievements include the developement of the only four-sided billboard in the state on New Jersey on property located on the AC Expressway and the Tunnel connector.</p>
                        <a href="/about"class="button is-link" style="margin-top:25px">Read More</a>                
                </div>
            </div>
        </div>
    </section>