<section class="section features">
        <div class="container">
    <div class="columns">
        <div class="column">
                        <div class="home-icon-wrapper"><i class="fas fa-map-marker fa-6x" style="color:#007250"></i></div>
                        <h2 class="subtitle" style="text-align:center">Hundreds of Locations</h2>
                        <p>Billboards in New York, New Jersey, Pennsylvania and more in high traffic areas like Atlantic City and Times Square.</p>               
        </div>
        <div class="column">            
                <div class="home-icon-wrapper"><i class="far fa-address-card fa-6x" style="color:#720020"></i></div>
                        <h2 class="subtitle" style="text-align:center">Digital Billboards</h2>
                        <p>Billboards in New York, New Jersey, Pennsylvania and more in high traffic areas like Atlantic City and Times Square.</p>
        </div>
        <div class="column">            
                <div class="home-icon-wrapper"><i class="fas fa-pencil-alt fa-6x" style="color:#725000"></i></div>
                        <h2 class="subtitle" style="text-align:center">Design Services</h2>
                        <p>Billboards in New York, New Jersey, Pennsylvania and more in high traffic areas like Atlantic City and Times Square.</p> 
        </div>
    </div>
        </div>
    </section>