{{ define "main" }}
<section class="hero is-medium hero-page">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                {{ .Title }}
            </h1>
          </div>
        </div>
</section>

         {{ range .Paginator.Pages }}
         <div class="section billboard">
                <div class="container">
         <div class="columns">
            <div class="column is-half">
                <figure class="image is-5by3">
                 <img src="{{ .Params.featured_image }}"/>
                </figure>
            </div>
            <div class="column is-half">
                <h2>Unit No: {{ .Title }}</h2>
                 <p><span style="font-weight:bold">Location:</span> {{ .Params.location }}</p>
                 <p><span style="font-weight:bold">Latitude, Longitude:</span> {{ .Params.lat_long }}</p>
                 <p><span style="font-weight:bold">Size:</span> {{ .Params.size }}</p>
                 <p><span style="font-weight:bold">Daily Effective Circulation:</span> {{ .Params.dec }}</p>
                 <p><span style="font-weight:bold">Description:</span> {{ .Description }}</p>
                 <p><span style="font-weight:bold">Additional Information:</span> {{ .Content }}</p>
             </div>
            </div>
        </div>
    </div>
        {{ end }}
        <div class="section billboard">
            <div class="container">
     <div class="columns is-mobile">
        <div class="column">
            <figure class="image">
             <img style="max-height: 200px; width: auto; margin: 0 0 0 auto;" src="/img/IMG_3388.jpg"/>
            </figure>
        </div>
        <div class="column">
            <h2>Anthony Amado</h2>
             <h4>Vice President of Development</h4>
             <p>For more information contact Anthony at <a href="mailto:antonio@poadvertising.com">antonio@poadvertising.com</a>.</p>
         </div>
        </div>
    </div>
</div>
{{ end }}